astroid==2.15.6
certifi==2023.7.22
charset-normalizer==3.2.0
dill==0.3.7
docopt==0.6.2
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
pipreqs==0.4.13
platformdirs==3.10.0
pylint==2.17.5
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
requests==2.31.0
tomlkit==0.12.1
urllib3==2.0.4
wrapt==1.15.0
yarg==0.1.9
